@import "./abstract/mixins";
@import "./abstract/variables";
@import "./layout/footer.scss";
@import "./layout/header.scss";
@import "./layout/hero.scss";
@import "./layout/main.scss";
@import "./layout/simplifyhow.scss";

body {
    margin: 0;
    font-family: $fontFamily;
    font-size: 16px;
}