//Colors - Primary 
$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);

//Colors - Accent 
$brightBlue: hsl(224, 93%, 58%);
$moderatCyan: hsl(170, 45%, 43%);

// Colors - Neutral 
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);

//Fonts - Headings, Call-to-actions, Header Navigation
$font-Raleway: 'Raleway', sans-serif;
$font-regular: 400;
$font-bold: 700;

// Fonts - Body
$font-OpenSans:'Open Sans', sans-serif;