header {
  margin: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between; }
  header nav {
    display: none; }
  header button {
    display: none; }
  @media (min-width: 1440px) {
    header nav {
      display: flex; }
      header nav a {
        margin: 10px;
        text-decoration: none; }
    header .menu-icon {
      display: none; }
    header button {
      display: block; } }
