body {
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center; }
  body header {
    margin: 20px; }
    body header h1 {
      background: -webkit-linear-gradient(#1d3557, #eee);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: letters 3s; }
    body header p {
      font-style: italic;
      animation: letters 3s; }
  body main {
    flex-direction: row;
    overflow: hidden; }
    body main img {
      width: 250px;
      height: 200px;
      filter: blur(1px);
      cursor: pointer; }
      body main img:hover {
        filter: none;
        transition: all 0.2s ease-in-out; }

@keyframes mymove {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes letters {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }
